*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: #1B9000;
}
.nav-listing{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
  gap: 4px;
}
@media only screen and (max-width:500px) {
  .nav-listing{
    flex-direction: column;
  }
}